/* GLOBAL
 * -------------------------------------------------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,300,200,400);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

html, body {
    height: 100%;
}

body {
    color: #F3D9A4;
    background: linear-gradient(to bottom, rgba(243,217,164,0.2) 0, rgba(243,217,164,0) 100%) no-repeat, #5A402A;

    font-size: 1.2em;
    font-family: 'Quattrocento Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    text-shadow: 0 1px 1px black;
    line-height: 1.2;
}

header {
    background: url('/img/thanks-logo.svg'), radial-gradient(70% 100% at 50% 0%, rgba(119,209,246,0.1) 50%, rgba(119,209,246,0.3) 100%), #ABC500;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 2em;
    margin: 0;
    padding: 0 2em;

    box-shadow: 0 0 3px black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    color: #F54B17;
    text-shadow: none;

    transition: height 1s ease;
}
header .toplink {
    display: inline-block;
    margin: 10px 0 0;
    padding: 0 1em;
    float: right;

    font-size: smaller;
}
header .toplink:hover {
    background:red;
}
header .toplink .buttons {
    display: none;
}
header .toplink.login {
    background: #77D1F6;
}
header .toplink.login .buttons {
    display: block;
}
header h1 {
    float: left;
    margin: 0;

    color: #5A402A;
    font-size: 1em;
}
a:link, a:hover, a:active, a:visited,
header h1 strong {
    color: #F54B17;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.action {
    color: #77D1F6;
}
a.action:hover {
    color: white;
}
a.action::before {
    content: '[';
}
a.action::after {
    content: ']';
}
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}
section {
    width: 900px;
    margin: 100px auto 100px;
}
section h1 {
    border-bottom: 1px solid;

    margin: 1em -100px;
    padding: 0 100px;

    text-align: center;
    font-size: 2.5em;
}
footer {
    color: #F4DAA1;
    background: #5B4028;
    border-top: 1px solid;

    padding: 5px;

    font-size: 0.8em;
}
footer p {
    text-align: center
}
section p {
    border-left: 5px solid #7BD1F4;
    padding: 0.5em 0 0.5em 1em;
    margin: 0;
}
input {
    max-width: 100%;
    border: none;
    border-bottom: 1px dashed;
    background: transparent;

    color: inherit;
    font: inherit;
    text-shadow: inherit;
}
em,
strong {
    color: #B6D100;
}
ul {
}
.pick li {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px;
    vertical-align: top;
    overflow: hidden;

    display: inline-block;
    list-style: none;
    cursor: pointer;

    text-shadow: 1px 2px 1px black;
    opacity: 0.5;
    transition: opacity .6s ease;
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.pick li:hover,
.pick li.selected {
    opacity: 1;
}
li .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    opacity: 0.5;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    transition: opacity .6s ease;
    transition: filter .6s ease;
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
li:hover .avatar,
li.selected .avatar {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
li .title {
    position: absolute;
    left: 0;
    bottom: 0;
}
li:hover .title,
li.selected .title,
li:hover .amount,
li.selected .amount,
li.selected .allocation {
    color: #F54B17;
}
li.selected .title,
li.selected .amount,
li.selected .allocation {
    font-weight: bold;
}
span.title,
span.amount,
span.allocation {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 1.5em;

    transition: color .6s ease;
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
span.amount::before {
    content: '$';
}
span.allocation::after {
    content: '%';
}
li .amount,
li .allocation {
    position: absolute;
    right: 0;
    top: 0;
}
li .amount input,
li .allocation input {
    padding: 0;
    margin: 0;

    text-align: right;
}
button {
    margin: 30px 0 0;
    margin-right: 10px;
    padding: 0.5em;
    vertical-align: top;

    color: #5B4028;
    background: #7BD1F4;
    border: none;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 0 1px 0 black;
    box-shadow: 0 0 20px transparent;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    transition: box-shadow .3s ease;
    transition: filter .3s ease;
    -webkit-filter: grayscale(0%);
}
button[disabled] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
button:hover {
    box-shadow: 0 0 40px white;
}

/* TEMPLATE: send
 * -------------------------------------------------------------------------------------------------------------------------------------- */
header.page-send {
    height: 250px;
}
header.page-send h1 {
    position: absolute;
    bottom: 10px;

    font-size: 3em;
}
#send-recipient .distribution li .amount::before {
    content: 'x';
}
#send-recipient .people li .amount {
    top: 1.2em;
}
#send-recipient .people li .amount,
#send-recipient .people li .allocation {
    display: none;
}
#send-recipient .people li.selected .amount,
#send-recipient .people li.selected .allocation {
    display: inline;
}
#send-give input {
    width: 1.8em;
}
#send-recipient input {
    width: 50%;
    width: calc(100% - 1em);
}
#send-give li.amount {
    background: url('/img/give.svg') center center no-repeat;
    background-size: contain;
}
#send-give li.amount.selected {
    background-image: url('/img/give-selected.svg');
}
#send-give li.pizza {
    background: url('/img/pizza.svg') center center no-repeat;
    background-size: contain;
}
#send-give li.pizza.selected {
    background-image: url('/img/pizza-selected.svg');
}
#send-give li.beer-1 {
    background: url('/img/can.svg') center center no-repeat;
    background-size: contain;
}
#send-give li.beer-1.selected {
    background-image: url('/img/can-selected.svg');
}
#send-give li.beer-6 {
    background: url('/img/6-pack.svg') center center no-repeat;
    background-size: contain;
}
#send-give li.beer-6.selected {
    background-image: url('/img/6-pack-selected.svg');
}
#send-give li.coin {
    background: url('/img/coin.svg') center center no-repeat;
    background-size: contain;
}
#send-give li.coin.selected {
    background-image: url('/img/coin-selected.svg');
}
#send-recipient .people li.add {
    background: url('/img/person.svg') center center no-repeat;
    background-size: contain;
}
#send-recipient .people li.add.selected {
    background-image: url('/img/person-selected.svg');
}
#send-recipient .people li.site {
    background: url('/img/thanks.svg') center center no-repeat;
    background-size: contain;
}
#send-recipient .people li.site.selected {
    background-image: url('/img/thanks-selected.svg');
}
#send-recipient li.for-all {
    background: url('/img/for-all.svg') center center no-repeat;
    background-size: contain;
}
#send-recipient li.for-all.selected {
    background-image: url('/img/for-all-selected.svg');
}
#send-recipient li.for-each {
    background: url('/img/for-each.svg') center center no-repeat;
    background-size: contain;
}
#send-recipient li.for-each.selected {
    background-image: url('/img/for-each-selected.svg');
}
#send li.paypal {
    background: url('/img/paypal.svg') center center no-repeat;
    background-size: contain;
}
#send li.paypal.selected {
    background-image: url('/img/paypal-selected.svg');
}
#send li.bitcoin {
    background: url('/img/bitcoin.svg') center center no-repeat;
    background-size: contain;
}
#send li.bitcoin.selected {
    background-image: url('/img/bitcoin-selected.svg');
}
#send .amount,
#send .people {
    color: #B6D100;
}
#send .amount {
    font-size: 3em;
}

#send .note {
    background: url('/img/note.svg') left top no-repeat;
    background-size: 30px 30px;

    display: inline-block;
    margin: 30px 0 0;
    padding-left: 40px;

    opacity: 0.2;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#send .note:hover {
    opacity: 1;
}
#send .note.active {
    background-image: url('/img/note-selected.svg');
}
#send .note textarea {
    background: transparent;
    border: none;

    width: 15em;
    height: 6.5em;

    color: inherit;
    font: inherit;
    text-shadow: inherit;
}

/* TEMPLATE: me
 * -------------------------------------------------------------------------------------------------------------------------------------- */
#me-heading {
    background: none;
    overflow: hidden;

    height: 320px;
}
#me-heading img.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    z-index: -1;
}
#me-heading h1.name {
    position: absolute;
    bottom: 10px;
    margin-bottom: -0.1em;

    font-size: 7em;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
#me-heading h1.name img {
    position: absolute;
    left: 0;
    margin-left: -0.1em;
    bottom: 0.1em;
    z-index: -1;

    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#me-profile .personas {
    list-style: none;
}
#me-profile .community,
#me-profile .nick {
    color: #B6D100;
}
#me-profile .community {
    font-size: 3em;
}


